[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~= 1.14"

[dev-packages]
wheel = "*"
setuptools = "*"
"flake8" = "*"
pytest = "*"
auditwheel = "*"
twine = "*"

[requires]
python_version = "3.6"
